<html>
    <head>
        <title>TISCO</title>
        <link rel="icon" href="รูป/Logo_TISCO.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scriptFile.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

    </head>
    <body class="container">
       <div class="container">
            <h1>Current Version 1.2</h1>
            <div class="border border-secondary p-3 mt-3">
                <h5>1.2</h5>
                <ul>
                    <li><h6>Used Model      :<small> TestModelT1000.h5</small></h6></li>
                    <li><h6>Model Type      :<small> Neural Network</small></h6></li>
                    <li><h6>Model Accuracy  :<small> 72%</small></h6></li>
                    <li><h6>Date            :<small> 21/12/2018</small></h6></li>
                    <li><h6><small>เปลี่ยนโมเดลที่ใช้</small></h6></li>
                </ul>
            </div>
           <div class="border border-secondary p-3 mt-3">
                <h5>1.1</h5>
                <ul>
                    <li><h6>Used Model      :<small> TestModelT300.h5</small></h6></li>
                    <li><h6>Model Type      :<small> Neural Network</small></h6></li>
                    <li><h6>Model Accuracy  :<small> 72%</small></h6></li>
                    <li><h6>Date            :<small> 21/12/2018</small></h6></li>
                    <li><h6><small>เปลี่ยนโมเดลที่ใช้</small></h6></li>
                </ul>
           </div>
           <div class="border border-secondary p-3 mt-3">
                <h5>1.0</h5>
                <ul>
                    <li><h6>Used Model      :<small> dtree_model_pickleMD10.p</small></h6></li>
                    <li><h6>Model Type      :<small> Decision Tree</small></h6></li>
                    <li><h6>Model Accuracy  :<small> 72%</small></h6></li>
                    <li><h6>Date            :<small> 20/12/2018</small></h6></li>
                </ul>
          </div>
       </div>
    </body>
</html>